/* media query*/
@media screen and (min-width: 375px) {
    .btnBanner {
        right: 30%;
        top: 22%;
    }
}

@media screen and (min-width: 425px) {
    .btnBanner {
        right: 33%;
        top: 25%;
    }

}

@media screen and (min-width: 768px) {

    /* index */
    .btnBanner {
        right: 40%;
        top: 33%;
    }

    .btn {
        font-size: 15px;
        padding: 15px 25px;
    }

    /* productos */
    .conteinerProd {

        grid-template-areas:
            "tittleMain tittleMain"
            "item1 item2"
            "item3 item4"
            "item5 item6"
        ;
    }

    /* Peinados */
    .conteinerPein {

        grid-template-areas:
            "tittleMainP tittleMainP"
            "itemP1 itemP2"
            "itemP3 itemP4"
            "itemP5 itemP6"
            "itemP7 itemP8"
        ;
    }

    /* Historia */
    .bannerHistoria .cuadroBanner {
        position: absolute;
        height: 220px;
        width: 350px;

        top: 14%;
        right: 5%;
    }

}

@media screen and (min-width: 1024px) {
    .btnBanner {
        right: 41%;
        top: 40%;
    }

    .btn {
        font-size: 20px;
        padding: 20px;
    }

    /* productos */
    .conteinerProd {

        grid-template-areas:
            "tittleMain tittleMain tittleMain"
            "item1 item2 item3"
            "item4 item5 item6"
        ;
    }

    /* Peinados */
    .conteinerPein {

        grid-template-areas:
            "tittleMainP tittleMainP tittleMainP"
            "itemP1 itemP2 itemP3"
            "itemP4 itemP5 itemP6"
            "itemP7 x itemP8"
        ;
    }

    /* Historia */
    .bannerHistoria .cuadroBanner {
        position: absolute;
        height: 220px;
        width: 350px;

        top: 20%;
        right: 5%;
    }

}

@media screen and (min-width:1200px) {

    /* index */
    .btnBanner {
        right: 38%;
        top: 42%;
    }

    .btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
    }


}

@media screen and (min-width:1440px)and (max-width:2200px) {

    /* index */
    .btnBanner {
        right: 37%;
        top: 45%;
    }

    .btn {
        font-size: 35px;
        padding: 40px 60px 40px 60px;
    }

    /* productos */
    .conteinerProd {

        grid-template-areas:
            "tittleMain tittleMain tittleMain tittleMain"
            "item1 item2 item3 item4"
            "item5 item5 item6 item6"
        ;
    }

    /* Peinados */
    .conteinerPein {

        grid-template-areas:
            "tittleMainP tittleMainP tittleMainP tittleMainP"
            "itemP1 itemP2 itemP3 itemP4"
            "itemP5 itemP6 itemP7 itemP8"
        ;
    }

    .item5,
    .item6 {
        width: 300px;
        margin-left: 200px;
    }

}

@media screen and (min-width:2560px) {

    /* index */
    .btnBanner {
        right: 41%;
        top: 42%;
    }

    .btn {
        font-size: 40px;
        padding: 50px 80px 50px 80px;
    }

    /* productos */
    .conteinerProd {

        grid-template-areas:
            "tittleMain tittleMain tittleMain tittleMain tittleMain tittleMain"
            "item1 item2 item3 item4 item5 item6"
        ;
    }

    /* Peinados */
    .conteinerPein {

        grid-template-areas:
            "tittleMainP tittleMainP tittleMainP tittleMainP tittleMainP"
            "itemP1 itemP2 itemP3 itemP4 itemP5"
            "itemP6   x    itemP7   y    itemP8"
        ;
    }

    /* Historia */
    .bannerHistoria .cuadroBanner {
        position: absolute;
        height: 220px;
        width: 350px;

        top: 35%;
        right: 25%;
    }


}