@import "variables", "nav", "index", "productos", "peinados", "historia", "contacto", "medias";

.container-fluid {
    padding: 0;
}

p {
    font-family: $tipo;
}

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@mixin breakpoint($size){
    @if map-has-key($breakpoints, $size){
        @media (min-width: #{map-get($breakpoints, $size)}){
            @content;
        }
    }
}